.background {
    background-color: #323539!important;
    color: white;
}

thead button.ascending::after {
    content: '⬇';
    margin-left: 2px;
}

thead button.descending::after {
    content: '⬆';
    margin-left: 2px;
}

.modal-content {
    background-color: #323539!important;
}

.error {
    color: red;
    font-size: .7em;
}